.whole-page {
  display: block;
  margin-left: 400px;
  margin-top: 100px;
}
#login-to-twitter {
  text-align: center;
  font-family: sans-serif;
  width: 600px;
  height: 20px;
  padding: 10px 20px;
  color: black;
  margin-left: 300px;
}
input {
  width: 300px;
  height: 400px;
  display: block;
  margin-left: 75px;
}
#email-field {
  height: 30px;
  width: 310px;
border-radius: 5px;
}
#checkbox {
  height: auto;
  width: auto;
}
footer {
  margin-top: 10px;
}
#password-field {
  color: teal;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  margin-top: 10px;

  padding: 4px;
}
button {
 width: 310px;
 font-size: 16px;
 padding: 11px 20px;
 color: white;
 background-color: #1da1f2;
 border: none;
 position: relative;
 left: 5px;
 line-height: normal;
 box-sizing: border-box;
 border-radius: 4px;
 margin-top: 10px;
 margin-left: 75px;
}
header h3 {
  border-bottom: 1px solid lightgrey;
}
.footer-text {
  margin-left: 75px;
  margin-top: 75px
}
body {
